.multiselect__content {
    position: unset;
}
.quill-editor{
    height: 100px;
}
.cursor-pointer.flex.items-center.font-normal.dim.text-white.mb-8.text-base.no-underline{
    display: none;
}

.-mb-1.flex.flex-col.min-h-full.w-full{
    border: solid 1px #4099de;
    border-radius: 0.50rem;
}
.z-10.bg-white.border-t.border-l.border-b.border-60.h-auto.pin-l.pin-t.rounded-l.self-start.w-8{
    border: solid 1px #4099de;
    border-radius: 0.50rem;
}
/*.top_level ul li div .flex-1{*/
/*    margin-right: 10px;*/
/*}*/
/*.top_level ul li{*/
/*    margin-left: 0;*/
/*}*/
/*.top_level .list-reset li{*/
/*    margin-left: 10px;*/
/*}*/
.resource-list-icon{
    left: -32px !important;
    width: 24px !important;
}
